*.framework filter=lfs diff=lfs merge=lfs -text
File[[:space:]]IDentitySDK_Swift.xcframework/ios-arm64/IDentitySDK_Swift.framework/IDentitySDK_Swift filter=lfs diff=lfs merge=lfs -text
IDentitySDK_Swift.xcframework/ios-arm64/IDentitySDK_Swift.framework/IDentitySDK_Swift filter=lfs diff=lfs merge=lfs -text
